*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #e5e5e5;
}



/* Navbar 1 */
.nav-container{
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
  font-size: 0.8em;
}

.nav-container div{
  font-size: 1em;
}

.nav-input{
  background-color: #f0f0f0;
  border: none;
  border-radius: 0.5em;
  display: flex;
}

#Search-input{
  height: 2.8em;
}

.nav-input #nav-select{
  height: 2.8em;
  width: 2.7em;
  border: none;
}

.dropdrown select{
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.nav-input input{
  padding: 0.5rem 50rem 0.5rem 1rem;
  font-size: 1rem;
  color: black;
  border: none;
}

.nav-input i{
  color: black;
  background-color: rgba(255, 165, 0, 80%);
  padding: 1rem;
  text-align: end;
  border-top-right-radius: 0.5em;               /*give only 1 side radius top right*/
  border-bottom-right-radius: 0.5em;            /* give only 1 side radius botton right*/
}

#nav-lang{
  background-color: #f0f0f0;
  border: none;
  height: 1em;
  width: 1em;
  font-size: 1rem;
}


/* Navbar 2 */
.nav-container-2{
  width: 100%;
  height: 39px;
  background-color: rgba(0, 0, 0, 76%);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.nav-container-2 p{
  font-size: 0.8em;
  margin-left: 1em;
  font-weight: 600;
}



/* Body div 1 & 2 */
#main-content{
  padding-left: 10em;
  padding-right: 10em;
  margin-top: -23em;
}

.content-img {
  background: white;
  margin: 1em;
  height: 28em;
  width: 25em;
  padding-top: 1em;
  padding-left: 1rem;
}

.content-img a{
  text-decoration: none;

}

.content-img strong{
  font-size: 1.5em;
}

.content-img strong {
  display: block;
  margin-bottom: 1em;
}

.content-2{
  display: flex;
  justify-content: space-around;

}
  
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 20em;
  width: 20em;
}

.grid-wrapper p{
  font-size: 0.9em;
}
    
.grid-wrapper img{
  height: 6em;
  width: 9em;
}

.header-img {
  padding-left: 10em;
  padding-right: 10em;
}

.related-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.related-each-content{
  display: flex;
}




/* Body div 3 & 4 */

#oneline-content{
  padding-left: 11em ;
  padding-right: 11em;
  padding-bottom: 1.5em;
}

.related-content{
  background-color: white;
  display: block;
  padding: 1em;
  overflow-x: hidden;
}

.related-content a{
  text-decoration: none;
  margin-left: 2em;
  font-size: 1rem;
}

.related-content strong{
  font-size: 2em;
}

.related-each-content div{
  margin-right: 3em ;
}

.related-each-content button{
  flex: 0 0 auto; /* Prevent shrinking */
  height: 10em;
  width: 5em;
  margin-top: 2em;
  background-color: transparent;
  border: none;
  box-shadow:
  0 -0.5em 0.5em -0.5em gray,             /* top */
  0 0.5em 0.5em -0.5em gray,            /* bottom */
  -0.5em 0 0.5em -0.5em gray;                /* left */
}


/* body div 5 */
.div5{
  padding-top: 22em;
  /* padding: 0; */
}
.praStyle{
 display: -webkit-box;
  -webkit-line-clamp: 1;       /* show only 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.kurta-div {
 display: grid;
 grid-template-columns: repeat(2, 1fr);

}

.content-1pro{
  padding-right: 0.5em; 
}
.content-1pro p{
  display: -webkit-box;
  -webkit-line-clamp: 2;       /* show only 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-1pro strong{
  display: inline;
}

.content-1pro div{
  margin: 1em;
}

.image {
  text-align: center;
}

.main-content1 img{
  margin-left: 0.4em;
  padding: 0.1rem;
  border-radius: 0.5em;
  border: 0.1rem solid black;
}


#table{
  padding-left: 20em;
  padding-right: 20em;
}
.table-line{
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: white;
  /* margin: 3em; */
  padding: 2em;
}

.table-line img{
  /* margin: 2rem; */
  height: 10em;
  margin-left: 10em;
}

.table-line div{
  font-size: 1.3em;
  font-weight: bold;
}